{% extends "base.html" %}
{% block page_content %}
<div class = "index-banner dark-blue-bg">
	<div class = "index-banner-content center split-apart widescreen-max-width">
		<img src = "images/nixos-icon.svg"/>
		<div class = "index-banner-text">
			<h1> Reproducible builds for everyone </h1>
			<p> A tool to build reproducible software.
			    Making software that can last for tomorrow.
			</p>
		</div>
	</div>
</div>
<div class = "space-apart widescreen-max-width center">
	<div class = "nix-property-item">
		<img src="something.png"/>
		<h3> Reproducible </h3>
		<p>  Nix builds packages in isolation from each other. This ensures that they are reproducible and don't have undeclared dependencies, so if a package works on one machine, it will also work on another.  </p>
	</div>
	<div class = "nix-property-item">
		<img src="something.png"/>
		<h3> Declarative </h3>
		<p>  Nix makes it trivial to share development and build environments for your projects, regardless of what programming languages and tools you're using.  </p>
	</div>
	<div class = "nix-property-item">
		<img src="something.png"/>
		<h3> Reliable </h3>
		<p>  Nix ensures that installing or upgrading one package cannot break other packages. It allows you to roll back to previous versions, and ensures that no package is in an inconsistent state during an upgrade.  </p>
	</div>
</div>
<div class = "super-light-blue-bg search-area-container">
	<div class = "search-area center widescreen-max-width">
		<h3> Thousands of packages </h3>
		<p>  The Nix Packages collection (Nixpkgs) is a set of over 80 000 packages for the Nix package manager. </p>
		<input type = "text"> </input>
		<button> submit </button>
	</div>
</div>
{% endblock page_content %}
